:host {
  --lp-icon-color: currentColor;
  --lp-icon-size: 2rem;
  --lp-icon-stroke-width: 2;

  display: inline-flex;
  line-height: 0;
}

:host([spinner]) svg {
  animation: lp-icon-spin 1.5s linear infinite;
}

svg {
  width: var(--lp-icon-size);
  height: var(--lp-icon-size);

  &.icons-tabler-filled {
    fill: var(--lp-icon-color);
  }

  &.icons-tabler-outline {
    stroke: var(--lp-icon-color);
    stroke-width: var(--lp-icon-stroke-width);
  }
}

@keyframes lp-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}