:host {
  display: inline-flex;
  line-height: 0;
}
svg {
  width: var(--icon-size);
  height: var(--icon-size);

  &.icons-tabler-filled {
    fill: var(--icon-color);
  }

  &.icons-tabler-outline {
    stroke: var(--icon-color);
    stroke-width: var(--icon-stroke-width);
  }
}