:host {
  display: inline-flex;
  line-height: 0;
}

:host([spinner]) svg {
  animation: lp-icon-spin 1.5s linear infinite;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);

  &.icons-tabler-filled {
    fill: var(--icon-color);
  }

  &.icons-tabler-outline {
    stroke: var(--icon-color);
    stroke-width: var(--icon-stroke-width);
  }
}

@keyframes lp-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}