:host {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

:host([position="top-left"]) {
  --ef-alert-container-top: 1rem;
  --ef-alert-container-left: 1rem;
}

:host([position="top-center"]) {
  --ef-alert-container-top: 1rem;
  --ef-alert-container-left: 50%;
  --ef-alert-container-transform: translateX(-50%);
}

:host([position="top-right"]) {
  --ef-alert-container-top: 1rem;
  --ef-alert-container-right: 1rem;
}

:host([position="bottom-left"]) {
  --ef-alert-container-bottom: 1rem;
  --ef-alert-container-left: 1rem;
}

:host([position="bottom-center"]) {
  --ef-alert-container-bottom: 1rem;
  --ef-alert-container-left: 50%;
  --ef-alert-container-transform: translateX(-50%);
}

:host([position="bottom-right"]) {
  --ef-alert-container-bottom: 1rem;
  --ef-alert-container-right: 1rem;
}


.ef-alert-container {
  position: absolute;
  inset:
    var(--ef-alert-container-top, auto)
    var(--ef-alert-container-right, auto)
    var(--ef-alert-container-bottom, auto)
    var(--ef-alert-container-left, auto);
  transform: var(--ef-alert-container-transform, none);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
}

.ef-alert-container ef-alert {
  pointer-events: auto;
}

/* Live region (visually hidden) */
.ef-alert-live {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}
