button {
  --button-bg: var(--color-blue);
  --button-color: 100%;
  --button-shadow: var(--color-black);

  background-color: var(--button-bg);
  color: oklch(from var(--color-lgray) var(--button-color) c h / 1);
  box-shadow: 0 4px 6px oklch(from var(--button-shadow) l c h / 0.2);
  min-width: 120px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid oklch(from var(--button-bg) 75% c h / 1);
  border-radius: 0.25rem;

  &:hover {
    background-color: oklch(from var(--button-bg) l c h / 0.9);
    box-shadow: 0 6px 8px oklch(from var(--button-shadow) l c h / 0.3);
  }
}

button.black {
  --button-bg: var(--color-black);
}
button.gray {
  --button-bg: var(--color-gray);
}
button.slate {
  --button-bg: var(--color-slate);
}
button.lgray {
  --button-bg: var(--color-lgray);
  --button-color: 40%;
}