:host {
  --lp-button-bg: var(--lp-color-blue);
  --lp-button-color-l: 100%;
  --lp-button-box-shadow:  0 4px 6px oklch(from var(--lp-color-black) l c h / 0.2);
  --lp-button-icon-size: 1rem;
  --lp-button-padding-block: 0.75rem;
  --lp-button-padding-inline: 0.75rem;
}

button {
  background-color: var(--lp-button-bg);
  color: oklch(from var(--lp-color-lgray) var(--lp-button-color-l) c h / 1);
  box-shadow: var(--lp-button-box-shadow);
  padding-block: var(--lp-button-padding-block);
  padding-inline: var(--lp-button-padding-inline);
  font-size: 1rem;
  border: 1px solid oklch(from var(--lp-button-bg) 75% c h / 1);
  border-radius: 0.25rem;

  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: oklch(from var(--lp-button-bg) l c h / 0.9);
    box-shadow: 0 6px 8px oklch(from var(--lp-button-shadow) l c h / 0.3);
  }

  lp-icon {
    --lp-icon-size: var(--lp-button-icon-size);
  }
}

button.black {
  --lp-button-bg: var(--lp-color-black);
}
button.gray {
  --lp-button-bg: var(--lp-color-gray);
}
button.slate {
  --lp-button-bg: var(--lp-color-slate);
}
button.lgray {
  --lp-button-bg: var(--lp-color-lgray);
  --lp-button-color-l: 40%;
}

/* Icon Animations */
.icon-start,
.icon-end,
.loader {
  width: var(--lp-button-icon-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease, transform 200ms ease, width 200ms ease;
  overflow: hidden;
}

  /* NORMAL MODE */
.icon-start.mode-normal {
  opacity: 1;
  transform: translateX(0);
}

.icon-end.mode-normal {
  opacity: 1;
  transform: translateX(0);
}

.loader.mode-normal {
  width: 0;
  opacity: 0;
  transform: translateX(1rem); /* slides right */
}

  /* LOADING MODE */
.icon-start.mode-loading {
  width: 0;
  opacity: 0;
  transform: translateX(-1rem);
}

.icon-end.mode-loading {
  width: 0;
  opacity: 0;
  transform: translateX(1rem); /* slides right */
}

.loader.mode-loading {
  opacity: 1;
  transform: translateX(0);
}