@layer theme, base;

@layer theme {
  :root {
    --lp-color-black: oklch(0.2795 0.0181 241.71);
    --lp-color-gray: oklch(0.3392 0.0244 248.55);
    --lp-color-blue: oklch(0.3987 0.0709 229.86);
    --lp-color-slate: oklch(0.6256 0.0294 211.13);
    --lp-color-lgray: oklch(0.8793 0.0094 150.67);
  }
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }
}